{% load static %}
<div class="footer">
	<h2 class="call">СВЯЗЬ С НАМИ</h2>
	<div class="socials">
		<div class="vk">
			<a href="#"><img src="{% static 'vk.jpg' %}" alt=""></a>
		</div>
		<div class="telegram">
			<a href="#"><img src="{% static 'telegram.jpg' %}" alt=""></a>
		</div>
		<div class="whatsapp">
			<a href="#"><img src="{% static 'whatsapp.jpg' %}" alt=""></a>
		</div>
		<div class="gmail">
			<a href="#"><img src="{% static 'gmail.jpg' %}" alt=""></a>
		</div>
	</div>
	<div class="company-info">
		<p>ООО "Интонация"</p>
		<p id="ogrn">ОГРН: 1232200021866</p>
		<p>ИНН: 2224214718</p>
	</div>
	<div class="requirements">
		<p><a href="#">Политика персональных данных</a></p>
		<p><a href="#">Договор-оферта</a></p>
	</div>
</div>